#header {
	span{
		color: #CF4140;
		font-size: 28px;
	}
	.header-right p {
		color: #898989;
		font-size: 28px;
	}
}
#banner {
	h1 {
		padding-left: 22px;
	}
	color: #EEFF00;
	.submit {
		background-color: #78CD3E;
		color: white;
		&:hover {
			background-color:#88E648;
		}
	}
	.banner-left {
	    padding-top: 300px;
	    .col-sm-6:first-of-type {
	    	.fa-ul {
	    		padding-left: 87px;
	    	}
	    }
	}
}
#logos {
	.logo {
		h1 {
			padding-top: 60px;
		}
		h1:first-of-type {
			padding-bottom: 70px;
		}
	}
}
#services {
	background-color: #68ABD2;
	h3, h1 {
		color: white;
	}
	.serviceBox {
		padding: 10px 0;
	}
}
#content {
	.contentBox{
		margin-top: 20px;
	}
}
#footer-banner {
	background-image: url('../images/footer-bg.jpg');
	background-position: 100%;
	.footer-banner-inner {
		h1, h2 {
	    color: #EEFF00;
	    text-shadow: 2px 2px 4px #181818;
		}
		a {
			text-shadow: inherit;
		}
	}
}


@media (max-width: 767px) {
	#banner{
	  .banner-left {
	  	margin-top: 0px;
	  }
	}	
}